!!! 5

html(lang=lang)
  head
    meta(charset="utf-8")
    if description
      meta(name="description", content=description)
    meta(name="author", content=blog_author)
    // needs striphtml
    title(text=(title + ' | ' + blog_title))
    = mathjax_config
    if use_bundles
      if use_cdn
        link(href="/assets/css/all.css", rel="stylesheet", type="text/css")
      else
        link(href="/assets/css/all-nocdn.css", rel="stylesheet", type="text/css")
    else
      link(href="/assets/css/rst.css", rel="stylesheet", type="text/css")
      link(href="/assets/css/code.css", rel="stylesheet", type="text/css")
      link(href="/assets/css/theme.css", rel="stylesheet", type="text/css")
      if has_custom_css
        link(href="/assets/css/custom.css", rel="stylesheet", type="text/css")

    if permalink
      link(rel="canonical", href=abs_link(permalink))

    if rss_link
      = rss_link
    else
      if translations|length > 1
        for language in translations
          link(rel="alternate", type="application/rss+xml", title="RSS ("+language+")", href=_link('rss', None, language))
      else:
        link(rel="alternate", type="application/rss+xml", title="RSS", href=_link('rss', None))

    if favicons
      for name, file, size in favicons
        link(rel=name, href=file, sizes=size)

    = extra_head_data

  body
    h1(id="blog-title")
      a(href=abs_link('/'), title=blog_title, rel="home")
        = blog_title

    block belowtitle
      if translations|length > 1
        small
        = messages("Also available in:") + "&nbsp"
        for langname in translations
            if langname != lang
              a(href=_link("index", None, langname), rel="alternate", hreflang=langname)
                = messages("LANGUAGE", langname)

    block content
      // Nothing in this template, override

    small
      != content_footer

    // Sidebar
    ul.unstyled
      if license
        li
          = license
      block html_navigation_links
        // Links seem broken somehow
        for url, text in navigation_links[lang]
            if url|istuple
              li
                = text
                ul
                  for suburl, text in url
                    if rel_link(permalink, url) == '#'
                      li(class='active')
                        a(href=permalink)
                          = text
                    else
                      li
                        a(href=permalink)
                          = text
            else
              if rel_link(permalink, url) == '#'
                li(class='active')
                  a(href=permalink)
                    = text
              else
                li
                  a(href=permalink)
                    = text
      if search_form
        != search_form
    != late_load_js
    != social_buttons_code
