!!! 5

- import "base_helper.jade" as helper with context

html(lang=lang)
  head
    != helper.html_head()
    = extra_head_data

  body
    h1(id="blog-title")
      a(href=abs_link('/'), title=blog_title, rel="home")
        = blog_title

    block belowtitle
      if translations|length > 1
        small
        = messages("Also available in:") + "&nbsp"
        for langname in translations
            if langname != lang
              a(href=_link("index", None, langname), rel="alternate", hreflang=langname)
                = messages("LANGUAGE", langname)

    block content
      // Nothing in this template, override

    small
      != content_footer

    // Sidebar
    ul.unstyled
      if license
        li
          = license
      != helper.html_navigation_links()
      if search_form
        != search_form
    != late_load_js
    != social_buttons_code
